<a href="https://colab.research.google.com/github/Soman-Awan/Course_Capstone_Project/blob/master/LG_Trend_Prediction_BR.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

A simple code sheet to get the Logistic Regression Based task for BR. Please change the variables under consideration for not same results.
Soman

In [1]:
#Importing Important Libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import matplotlib as mpl

In [2]:
#Setting Whitegrid as white
%matplotlib inline
sns.set_style('whitegrid')
%matplotlib inline
plt.style.use('seaborn-whitegrid')
plt.rcParams['figure.figsize'] = [12, 6]

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [4]:
#Reading xlsx FILE
df = pd.read_excel('/content/drive/My Drive/Project_Seminar/TrainBRSocial.xlsx')

In [5]:
#CHECKING DATA IN TABULATED FORM
df.head()

   Unnamed: 0  Unnamed: 0.1           Keywords  ...  country     trend  category
0           0             2  Avocado face pack  ...       BR  nontrend    smallc
1           1             3  Avocado face pack  ...       BR  nontrend    smallc
2           2             4  Avocado face pack  ...       BR  nontrend    smallc
3           3             5  Avocado face pack  ...       BR  nontrend    smallc
4           4             6  Avocado face pack  ...       BR  nontrend    smallc

[5 rows x 25 columns]

In [6]:
#Checking if there is any list columns with its name which contain missing values
[col for col in df.columns if df[col].isnull().any()]

['Keywords', 'impact_image', 'impact_instagram']

In [7]:
#store number of missing values per column as Series object as GM1
df1 = df.isnull().sum()

#filter out and sort columns with missing value
df1[df1>=0].sort_values(ascending=False)

impact_instagram      6024
impact_image           791
Keywords                52
category                 0
impact_review            0
Unnamed: 0.1             0
Years                    0
Months                   0
impact_blog              0
impact_forum             0
impact_general           0
impact_news              0
impact_twitter           0
trend                    0
impact_video             0
twitter retweets         0
instagram likes          0
sentiment_negative       0
sentiment_neutral        0
sentiment_positive       0
full text                0
hashtags                 0
media urls               0
country                  0
Unnamed: 0               0
dtype: int64

In [8]:
##We want to see the columns which has atleast 7000 and above observations 
GMM = df.dropna(axis='columns', thresh = 7000)

In [9]:
GMM.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7834 entries, 0 to 7833
Data columns (total 24 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Unnamed: 0          7834 non-null   int64
 1   Unnamed: 0.1        7834 non-null   int64
 2   Keywords            7782 non-null   object
 3   Years               7834 non-null   int64
 4   Months              7834 non-null   int64
 5   impact_blog         7834 non-null   int64
 6   impact_forum        7834 non-null   int64
 7   impact_general      7834 non-null   int64
 8   impact_image        7043 non-null   float64
 9   impact_news         7834 non-null   int64
 10  impact_review       7834 non-null   int64
 11  impact_twitter      7834 non-null   int64
 12  impact_video        7834 non-null   int64
 13  twitter retweets    7834 non-null   int64
 14  instagram likes     7834 non-null   int64
 15  sentiment_negative  7834 non-null   int64
 16  sentiment_neutral   7834 non-null   int64
 17  sentiment_positive  7834 non-null   int64
 18  full text           7834 non-null   object
 19  hashtags            7834 non-null   object
 20  media urls          7834 non-null   object
 21  country             7834 non-null   object
 22  trend               7834 non-null   object
 23  category            7834 non-null   object
dtypes: float64(1), int64(16), object(7)
memory usage: 1.4+ MB

In [10]:
GMM1 = GMM.dropna(subset=['Keywords'])
GMM1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7782 entries, 0 to 7833
Data columns (total 24 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Unnamed: 0          7782 non-null   int64
 1   Unnamed: 0.1        7782 non-null   int64
 2   Keywords            7782 non-null   object
 3   Years               7782 non-null   int64
 4   Months              7782 non-null   int64
 5   impact_blog         7782 non-null   int64
 6   impact_forum        7782 non-null   int64
 7   impact_general      7782 non-null   int64
 8   impact_image        6991 non-null   float64
 9   impact_news         7782 non-null   int64
 10  impact_review       7782 non-null   int64
 11  impact_twitter      7782 non-null   int64
 12  impact_video        7782 non-null   int64
 13  twitter retweets    7782 non-null   int64
 14  instagram likes     7782 non-null   int64
 15  sentiment_negative  7782 non-null   int64
 16  sentiment_neutral   7782 non-null   int64
 17  sentiment_positive  7782 non-null   int64
 18  full text           7782 non-null   object
 19  hashtags            7782 non-null   object
 20  media urls          7782 non-null   object
 21  country             7782 non-null   object
 22  trend               7782 non-null   object
 23  category            7782 non-null   object
dtypes: float64(1), int64(16), object(7)
memory usage: 1.5+ MB

In [11]:
#Verifying if we have any missing figures & Changing data type
GMM1 = GMM1.fillna(0)
GMM1['impact_image'] = GMM1['impact_image'].astype('int')
GMM1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7782 entries, 0 to 7833
Data columns (total 24 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Unnamed: 0          7782 non-null   int64
 1   Unnamed: 0.1        7782 non-null   int64
 2   Keywords            7782 non-null   object
 3   Years               7782 non-null   int64
 4   Months              7782 non-null   int64
 5   impact_blog         7782 non-null   int64
 6   impact_forum        7782 non-null   int64
 7   impact_general      7782 non-null   int64
 8   impact_image        7782 non-null   int64
 9   impact_news         7782 non-null   int64
 10  impact_review       7782 non-null   int64
 11  impact_twitter      7782 non-null   int64
 12  impact_video        7782 non-null   int64
 13  twitter retweets    7782 non-null   int64
 14  instagram likes     7782 non-null   int64
 15  sentiment_negative  7782 non-null   int64
 16  sentiment_neutral   7782 non-null   int64
 17  sentiment_positive  7782 non-null   int64
 18  full text           7782 non-null   object
 19  hashtags            7782 non-null   object
 20  media urls          7782 non-null   object
 21  country             7782 non-null   object
 22  trend               7782 non-null   object
 23  category            7782 non-null   object
dtypes: int64(17), object(7)
memory usage: 1.5+ MB

In [12]:
# Drop the 'Unnamed: 0', 'Unnamed: 0.1', 'full text', 'hashtags' and 'media urls' columns
GMM1.drop(['Unnamed: 0', 'Unnamed: 0.1', 'full text', 'hashtags', 'media urls'], axis='columns', inplace=True)
GMM1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7782 entries, 0 to 7833
Data columns (total 19 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Keywords            7782 non-null   object
 1   Years               7782 non-null   int64
 2   Months              7782 non-null   int64
 3   impact_blog         7782 non-null   int64
 4   impact_forum        7782 non-null   int64
 5   impact_general      7782 non-null   int64
 6   impact_image        7782 non-null   int64
 7   impact_news         7782 non-null   int64
 8   impact_review       7782 non-null   int64
 9   impact_twitter      7782 non-null   int64
 10  impact_video        7782 non-null   int64
 11  twitter retweets    7782 non-null   int64
 12  instagram likes     7782 non-null   int64
 13  sentiment_negative  7782 non-null   int64
 14  sentiment_neutral   7782 non-null   int64
 15  sentiment_positive  7782 non-null   int64
 16  country             7782 non-null   object
 17  trend               7782 non-null   object
 18  category            7782 non-null   object
dtypes: int64(15), object(4)
memory usage: 1.2+ MB

In [13]:
# converting to binary data with column trend
GMM3 = pd.get_dummies(GMM1, columns=['trend'])
GMM3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7782 entries, 0 to 7833
Data columns (total 20 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Keywords            7782 non-null   object
 1   Years               7782 non-null   int64
 2   Months              7782 non-null   int64
 3   impact_blog         7782 non-null   int64
 4   impact_forum        7782 non-null   int64
 5   impact_general      7782 non-null   int64
 6   impact_image        7782 non-null   int64
 7   impact_news         7782 non-null   int64
 8   impact_review       7782 non-null   int64
 9   impact_twitter      7782 non-null   int64
 10  impact_video        7782 non-null   int64
 11  twitter retweets    7782 non-null   int64
 12  instagram likes     7782 non-null   int64
 13  sentiment_negative  7782 non-null   int64
 14  sentiment_neutral   7782 non-null   int64
 15  sentiment_positive  7782 non-null   int64
 16  country             7782 non-null   object
 17  category            7782 non-null   object
 18  trend_nontrend      7782 non-null   uint8
 19  trend_trend         7782 non-null   uint8
dtypes: int64(15), object(3), uint8(2)
memory usage: 1.1+ MB

In [14]:
GMM4 = GMM3.rename(columns = {'trend_trend': 'trend', 'trend_nontrend': 'nontrend'}, inplace = False)
GMM4.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7782 entries, 0 to 7833
Data columns (total 20 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Keywords            7782 non-null   object
 1   Years               7782 non-null   int64
 2   Months              7782 non-null   int64
 3   impact_blog         7782 non-null   int64
 4   impact_forum        7782 non-null   int64
 5   impact_general      7782 non-null   int64
 6   impact_image        7782 non-null   int64
 7   impact_news         7782 non-null   int64
 8   impact_review       7782 non-null   int64
 9   impact_twitter      7782 non-null   int64
 10  impact_video        7782 non-null   int64
 11  twitter retweets    7782 non-null   int64
 12  instagram likes     7782 non-null   int64
 13  sentiment_negative  7782 non-null   int64
 14  sentiment_neutral   7782 non-null   int64
 15  sentiment_positive  7782 non-null   int64
 16  country             7782 non-null   object
 17  category            7782 non-null   object
 18  nontrend            7782 non-null   uint8
 19  trend               7782 non-null   uint8
dtypes: int64(15), object(3), uint8(2)
memory usage: 1.1+ MB

In [15]:
#EVERYTHING IS GOOD HERE##

In [16]:
##Please to change and have different results, drop some extra variables here to avoid copying please)
X = GMM4.drop(['trend', 'nontrend', 'country', 'category', 'Keywords'], axis=1)
y = GMM4.trend

print(f"'X' shape: {X.shape}")
print(f"'y' shape: {y.shape}")

'X' shape: (7782, 15)
'y' shape: (7782,)

In [17]:
X_train = X
y_train = y

In [18]:
# split X and y into training and testing sets
##Change this please test_size <0.2-0.4> random_state <0-5>
from sklearn.model_selection import train_test_split

X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.25,random_state=0)

In [19]:
# import the class
from sklearn.linear_model import LogisticRegression

# instantiate the model (using max iteration) | You can change iterations to get different results
logreg = LogisticRegression(max_iter=3000)

# fit the model with data
logreg.fit(X_train,y_train)

#
y_pred=logreg.predict(X_test)

In [20]:
# import the metrics class
from sklearn import metrics
cnf_matrix = metrics.confusion_matrix(y_test, y_pred)
cnf_matrix

array([[189, 746],
       [127, 884]])

In [21]:
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))
print("Precision:",metrics.precision_score(y_test, y_pred))
print("Recall:",metrics.recall_score(y_test, y_pred))

Accuracy: 0.5513874614594039
Precision: 0.5423312883435583
Recall: 0.874381800197824

Now Making Predictions on New Data Set - Holdout

In [22]:
#Now Loading Test Data
#Reading xlsx FILE
cf = pd.read_excel('/content/drive/My Drive/Project_Seminar/Test/HoldoutBRSocial.xlsx')
cf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2776 entries, 0 to 2775
Data columns (total 23 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Unnamed: 0          2776 non-null   int64
 1   Keywords            2776 non-null   object
 2   Years               2776 non-null   int64
 3   Months              2776 non-null   int64
 4   impact_blog         2776 non-null   int64
 5   impact_forum        2776 non-null   int64
 6   impact_general      2776 non-null   int64
 7   impact_image        2557 non-null   float64
 8   impact_instagram    573 non-null    float64
 9   impact_news         2776 non-null   int64
 10  impact_review       2776 non-null   int64
 11  impact_twitter      2776 non-null   int64
 12  impact_video        2776 non-null   int64
 13  twitter retweets    2776 non-null   int64
 14  instagram likes     2776 non-null   int64
 15  sentiment_negative  2776 non-null   int64
 16  sentiment_neutral   2776 non-null   int64
 17  sentiment_positive  2776 non-null   int64
 18  full text           2776 non-null   object
 19  hashtags            2776 non-null   object
 20  media urls          2776 non-null   object
 21  country             2776 non-null   object
 22  category            2776 non-null   object
dtypes: float64(2), int64(15), object(6)
memory usage: 498.9+ KB

In [23]:
##We want to see the columns which has atleast 2000 and above observations 
CMM = cf.dropna(axis='columns', thresh = 2000)

In [24]:
# Drop the 'Unnamed: 0', 'full text', 'hashtags' and 'media urls' columns
CMM.drop(['Unnamed: 0', 'full text', 'hashtags', 'media urls'], axis='columns', inplace=True)
CMM.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2776 entries, 0 to 2775
Data columns (total 18 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Keywords            2776 non-null   object
 1   Years               2776 non-null   int64
 2   Months              2776 non-null   int64
 3   impact_blog         2776 non-null   int64
 4   impact_forum        2776 non-null   int64
 5   impact_general      2776 non-null   int64
 6   impact_image        2557 non-null   float64
 7   impact_news         2776 non-null   int64
 8   impact_review       2776 non-null   int64
 9   impact_twitter      2776 non-null   int64
 10  impact_video        2776 non-null   int64
 11  twitter retweets    2776 non-null   int64
 12  instagram likes     2776 non-null   int64
 13  sentiment_negative  2776 non-null   int64
 14  sentiment_neutral   2776 non-null   int64
 15  sentiment_positive  2776 non-null   int64
 16  country             2776 non-null   object
 17  category            2776 non-null   object
dtypes: float64(1), int64(14), object(3)
memory usage: 390.5+ KB

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4174: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [25]:
#Verifying if we have any missing figures & Changing data type
CMM1 = CMM.fillna(0)
CMM1['impact_image'] = CMM1['impact_image'].astype('int')
CMM1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2776 entries, 0 to 2775
Data columns (total 18 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Keywords            2776 non-null   object
 1   Years               2776 non-null   int64
 2   Months              2776 non-null   int64
 3   impact_blog         2776 non-null   int64
 4   impact_forum        2776 non-null   int64
 5   impact_general      2776 non-null   int64
 6   impact_image        2776 non-null   int64
 7   impact_news         2776 non-null   int64
 8   impact_review       2776 non-null   int64
 9   impact_twitter      2776 non-null   int64
 10  impact_video        2776 non-null   int64
 11  twitter retweets    2776 non-null   int64
 12  instagram likes     2776 non-null   int64
 13  sentiment_negative  2776 non-null   int64
 14  sentiment_neutral   2776 non-null   int64
 15  sentiment_positive  2776 non-null   int64
 16  country             2776 non-null   object
 17  category            2776 non-null   object
dtypes: int64(15), object(3)
memory usage: 390.5+ KB

In [26]:
#taking all variables for test
z_test = CMM1.drop(['country', 'category', 'Keywords'], axis=1)
z_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2776 entries, 0 to 2775
Data columns (total 15 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Years               2776 non-null   int64
 1   Months              2776 non-null   int64
 2   impact_blog         2776 non-null   int64
 3   impact_forum        2776 non-null   int64
 4   impact_general      2776 non-null   int64
 5   impact_image        2776 non-null   int64
 6   impact_news         2776 non-null   int64
 7   impact_review       2776 non-null   int64
 8   impact_twitter      2776 non-null   int64
 9   impact_video        2776 non-null   int64
 10  twitter retweets    2776 non-null   int64
 11  instagram likes     2776 non-null   int64
 12  sentiment_negative  2776 non-null   int64
 13  sentiment_neutral   2776 non-null   int64
 14  sentiment_positive  2776 non-null   int64
dtypes: int64(15)
memory usage: 325.4 KB

In [27]:
#taking all variables and full data for test 
X = GMM4.drop(['trend', 'nontrend', 'country', 'category', 'Keywords'], axis=1)
y = GMM4.trend

print(f"'X' shape: {X.shape}")
print(f"'y' shape: {y.shape}")

'X' shape: (7782, 15)
'y' shape: (7782,)

In [28]:
X_train = X
y_train = y

In [29]:
#Create New Model 
logreg1 = LogisticRegression(max_iter=3000)

# fit the model with full data
logreg1.fit(X_train,y_train)

LogisticRegression(max_iter=3000)

In [30]:
predictions = logreg1.predict(z_test)

In [31]:
predictions1 = pd.DataFrame(predictions, columns=['trend'])
predictions1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2776 entries, 0 to 2775
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   trend   2776 non-null   uint8
dtypes: uint8(1)
memory usage: 2.8 KB

In [32]:
new_file = pd.concat([CMM1, predictions1], axis =1)
new_file.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2776 entries, 0 to 2775
Data columns (total 19 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Keywords            2776 non-null   object
 1   Years               2776 non-null   int64
 2   Months              2776 non-null   int64
 3   impact_blog         2776 non-null   int64
 4   impact_forum        2776 non-null   int64
 5   impact_general      2776 non-null   int64
 6   impact_image        2776 non-null   int64
 7   impact_news         2776 non-null   int64
 8   impact_review       2776 non-null   int64
 9   impact_twitter      2776 non-null   int64
 10  impact_video        2776 non-null   int64
 11  twitter retweets    2776 non-null   int64
 12  instagram likes     2776 non-null   int64
 13  sentiment_negative  2776 non-null   int64
 14  sentiment_neutral   2776 non-null   int64
 15  sentiment_positive  2776 non-null   int64
 16  country             2776 non-null   object
 17  category            2776 non-null   object
 18  trend               2776 non-null   uint8
dtypes: int64(15), object(3), uint8(1)
memory usage: 393.2+ KB

In [33]:
#To download the new trend file
from google.colab import files
new_file.to_csv('file_name_BR_LG.csv') 
files.download('file_name_BR_LG.csv')

In [34]:
#SO FAR SO GOOD HERE

In [35]:
new_file

                   Keywords  Years  Months  ...  country  category  trend
0        Aloe vera cleanser   2015       9  ...       BR    smallc      1
1        Aloe vera cleanser   2017       3  ...       BR    smallc      1
2      Bee venom face cream   2016       2  ...       BR    smallc      1
3      Bee venom face cream   2018      10  ...       BR    smallc      1
4     Honey facial cleanser   2016       3  ...       BR    smallc      1
...                     ...    ...     ...  ...      ...       ...    ...
2771        vegetable chips   2018      10  ...       BR    smallc      1
2772        vegetable chips   2018      11  ...       BR    smallc      1
2773        vegetable chips   2018      12  ...       BR    smallc      1
2774        vegetable chips   2019       2  ...       BR    smallc      1
2775        vegetable chips   2019       3  ...       BR    smallc      1

[2776 rows x 19 columns]

In [38]:
all_model_BR = new_file.groupby(['Keywords'])['trend'].agg(pd.Series.mode).reset_index()

In [40]:
all_model_BR.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 68 entries, 0 to 67
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Keywords  68 non-null     object
 1   trend     68 non-null     uint8
dtypes: object(1), uint8(1)
memory usage: 740.0+ bytes

In [41]:
from google.colab import files
all_model_BR.to_csv('all_model_BR.csv') 
files.download('all_model_BR.csv')

**That's all folks** Please note this is only one way method to get task done. Please if possible try to change where possible I put comments for you.